<div class="comment-tree">
    <app-comment *ngFor="let comment of comments" [comment]="comment" [userId]="userId"></app-comment>
  </div>
  <div class="post-comment">
    <div class="comet-avatar">
      <img width="30" height="30" src="/assets/image/doraemon.jpg" alt="">
    </div>
    <div class="post-comt-box">
      <form method="post">
        <textarea placeholder="Post your comment"></textarea>
        <div class="add-smiles">
          <div class="uploadimage">
            <i class="fa fa-image"></i>
            <label class="fileContainer">
              <input type="file">
            </label>
          </div>
          <span class="em em-expressionless" title="add icon"></span>
          <div class="smiles-bunch">
            <i class="em em---1"></i>
            <i class="em em-smiley"></i>
            <i class="em em-anguished"></i>
            <i class="em em-laughing"></i>
            <i class="em em-kissing_heart"></i>
          </div>
          <button class="btn btn-primary ms-2" type="submit">POST</button>
        </div>
      </form>	
    </div>
  </div>