
<div class="d-flex justify-content-center">
    <div class="central-meta postbox w-50">
        <span class="create-post">Create post</span>
        <div class="new-postbox">
            <figure>
                <img src="	http://127.0.0.1:5500/images/resources/admin.jpg" alt="">
            </figure>
            <div class="newpst-input">
                <form method="post">
                    <textarea (ngModel)='news.content' rows="2" placeholder="Share some what you are thinking?"></textarea>
                </form>
            </div>
            <div class="attachments">
                <ul>
                    <li>
                        <span class="add-loc">
                            <i class="fa-regular fa-image"></i>
                            <label class="fileContainer">
                                <input type="file"  (change)="onFileSelected($event)">
                            </label>
                        </span>
                    </li>
                </ul>
                <button class="post-btn" type="submit" data-ripple="">Post</button>
            </div>
            
        </div>	
    </div>

 
      
</div>
<div class="loadMore d-flex justify-content-center">
    <div class="central-meta item w-50 " style="height: 100vh;">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="http://127.0.0.1:5500/images/resources/nearly1.jpg" alt="">
                </figure>
                <div class="friend-name">
                   
                    <ins><a href="time-line.html" title="">Jack Carter</a> Post Album</ins>
                    <span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>
                </div>
                <div class="post-meta">
                    <div class="description">
                        
                        <p>
                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc.

                        </p>
                    </div>
                    <figure>
                        <img style="border-radius: 0;" src="http://127.0.0.1:5500/images/sponsors.gif" alt="">
                       
                    </figure>	
                   
                    <div class="we-video-info">
                        <ul>
                          
                          
                            <li >
                                <span class="comment" title="Comments">
                                    <i class="fa fa-commenting"></i>
                                    <ins>52</ins>
                                </span>
                            </li>

                        
                        </ul>
                        
                    </div>
                </div>
            </div>

        </div>
    </div><!-- album post -->
</div>