
<div class="d-flex justify-content-center">
    <div class="central-meta postbox w-50">
        <span class="create-post">Create post</span>
        <div class="new-postbox">
            <figure>
                <img src="	http://127.0.0.1:5500/images/resources/admin.jpg" alt="">
            </figure>
            <div class="newpst-input">
                <textarea [(ngModel)]="news.content" name="content"  rows="2" placeholder="Share some what you are thinking?"></textarea>
            </div>
            <div class="attachments">
                <ul>
                    <li>
                        <span class="add-loc">
                            <i class="fa-regular fa-image"></i>
                            <label class="fileContainer">
                                <input type="file"  (change)="onFileSelected($event)">
                            </label>
                        </span>
                    </li>
                    <li>
                        <span class="add-loc">
                            <select name="type" [(ngModel)]="news.type">
                                <option value="0">Bài viết</option>
                                <option value="1">Câu hỏi</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span class="add-loc">
                            <select name="idTopic" [(ngModel)]="news.idTopic">
                                <option *ngFor="let item of listTopic" [value]="item.id">{{ item.name }}</option>
                            </select>
                        </span>
                    </li>
                </ul>
                <button class="post-btn" type="submit" (click)="onSubmit()" data-ripple="">Post</button>
            </div>
            
        </div>	
    </div>

 
      
</div>
<div class="loadMore d-flex justify-content-center">
    <div *ngFor="let item of listNews" class="central-meta item w-50 ">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img [src]="item.avatar" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a >{{ item.username }}</a></ins>
                    <span><i class="fa fa-globe"></i> published: {{ item.created_at }} </span>
                </div>
                <div class="post-meta">
                    <div class="description">
                        <p>
                            {{ item.content }}
                        </p>
                    </div>
                    <figure *ngIf="item.image">
                        <img style="border-radius: 0;" [src]="item.image" alt="">
                    </figure>	
                   
                    <div class="we-video-info">
                        <ul>
                            <li >
                                <span class="comment" title="Comments">
                                    <i class="fa fa-commenting"></i>
                                    <ins>52</ins>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>